@import variables

@function randomGrey()
  $min: 120
  $max: 230
  $rand: random()
  @return $min + floor($rand * (($max - $min) + 1))

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  background-color: #fff

a
  text-decoration: none

ul, ol
  list-style: none

html
  font-family: Roboto, "Myriad Pro", sans-serif

.container
  width: 940px
  margin: 0 auto
  @media screen and ( max-width: 1180px )
    width: auto
    max-width: 940px
    padding-left: 20px
    padding-right: 20px

.logo
  width: 128px
  @media screen and ( max-width: $lg )
    width: 80px
  @media screen and ( max-width: $md )
    width: 110px

.hamburger
  position: absolute
  top: 20px
  right: 30px
  width: 32px
  height: 32px
  border: none
  cursor: pointer
  display: none
  filter: invert(100%)
  background: url('../icons/hamburger.svg') center / cover no-repeat
  @media screen and ( max-width: $md )
    display: block

.header
  background: url('../img/backgrounds/bg_header.jpg') center / cover no-repeat $violet

.nav
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__logo
    margin-top: 15px
  &__list
    margin-top: 35px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__item
    margin-right: 25px
  &__item:last-child
    margin-right: 0
  &__link
    +caption
    font-size: 13px
    &:hover
      color: $light-blue

@media screen and ( max-width: $lg )
  .nav
    &__logo
      margin-top: 15px
    &__list
      margin-top: 25px
    &__link
      font-size: 12px
  
@media screen and ( max-width: $md )
  .nav
    &__logo
      margin-top: 15px
    &__list
      margin-top: 25px
      display: none
      flex-direction: column
      width: 100%
      &.active
        display: block
    &__item
      margin-right: 0
    &__link
      display: block
      margin: 30px auto
      text-align: center
      font-size: 15px

.promo
  &__slider
    margin-top: 155px

.promo-slider
  &__header
    margin-top: 0
    margin-bottom: 20px
    font-size: 32px
    color: #ffffff
    text-align: center
    font-family: 'Playfair Display', "Myriad Pro", serif
    letter-spacing: 0.32px
  &__divider
    margin: 0 auto 25px
  &__descr
    +text
    margin: 0 auto 50px
    text-align: center
    line-height: 24px
    max-width: 780px
    letter-spacing: 0.7px
  &__button
    margin: 0 auto
  &__indicators
    display: inline-flex
    margin-top: 127px
    margin-left: 50%
    margin-bottom: 70px
    transform: translateX(-50%)
  &__indicator
    border: 1px solid #c2c2c2
    width: 10px
    height: 10px
    border-radius: 50%
    cursor: pointer
  &__indicator:not(:last-child)
    margin-right: 5px
  &__indicator.active
    border: none
    background-color: $light-blue

@media screen and ( max-width: $lg )
  .promo__slider
    margin-top: 110px
  .promo-slider
    &__header
      font-size: 28px
    &__indicators
      margin-top: 70px
    &__indicator
      width: 30px
      height: 12px
      border-radius: 25% / 50%
    &__indicator:not(:last-child)
      margin-right: 10px

.divider
  width: 50px
  height: 1px
  background-color: $light-blue

.button
  display: table
  font-size: 16px
  padding: 15px
  border: 1px solid $light-blue
  background: transparent
  cursor: pointer
  color: $light-blue
  text-transform: uppercase
  font-family: "Hammersmith One"
  text-decoration: none
  &:hover
    border-color: #46a3cc
    background: #46a3cc
    color: #fff

@media screen and ( max-width: $lg )
  .button
    padding: 10px
    font-size: 13px

.about
  padding-top: 70px
  padding-bottom: 70px
  &__wrapper
    display: flex
    justify-content: space-between
  &__left
    flex-grow: 1
    background: url('../icons/tajam_arrow.png') center top / 235px 229px no-repeat
  &__right
    flex-basis: 540px
  &__header
    +header($dark-grey)
    margin-bottom: 25px
  &__descr
    +text($dark-grey)
    opacity: 0.75
    line-height: 22px
    letter-spacing: 0.42px
    margin-bottom: 30px

@media screen and ( max-width: $lg )
  .about
    &__left
      background-size: 75%
    &__right
      flex-basis: 70%
    &__header
      margin-bottom: 15px
    &__descr
      margin-bottom: 20px

@media screen and ( max-width: $md )
  .about
    padding: 40px
    &__left
      display: none
    &__right
      flex-basis: 100%
    &__header
      position: relative
      display: inline-block
      &::after
        content: ''
        position: absolute
        top: -7px
        right: -45px
        width: 32px
        height: 32px
        background: url('../icons/tajam_arrow.png') center / 100% no-repeat

.video
  position: relative
  background: url('../img/backgrounds/bg_video.jpg') center / cover no-repeat $violet
  height: 550px
  &__video
    max-width: 100%
  &__play
    position: absolute
    background: url('../icons/play.svg') center / cover no-repeat
    width: 100px
    height: 100px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer
    border: none
  &__label
    +caption
    position: absolute
    top: 336px
    left: 50%
    transform: translateX(-50%)
    font-size: 16px

@media screen and ( max-width: $md )
  .video
    height: 400px
    &__play
      width: 70px
      height: 70px
    &__label
      top: 260px
      font-size: 14px

@media screen and ( max-width: $sm )
  .video
    height: 300px
    &__play
      width: 50px
      height: 50px
    &__label
      top: 190px
      font-size: 12px

.expertise
  &__header
    +header($dark-grey)
    margin-top: 70px
    margin-bottom: 15px
    text-align: center
  &__subheader
    font-family: "Playfair Display"
    color: #2f2d35
    opacity: 0.75
    font-size: 14px
    font-weight: 400
    letter-spacing: 1.05px
    margin-bottom: 18px
    text-align: center
  &__divider
    margin-bottom: 48px
    height: 2px
    background-color: $dark-grey
    opacity: 0.3
    margin-left: auto
    margin-right: auto
  &__cards
    display: grid
    grid-template-columns: 1fr 1fr 1fr
  &__card:nth-child(-n + 3)
    border-bottom: 1px solid #ebebeb
  &__card:not(:nth-child(3n))
    border-right: 1px solid #ebebeb
  &__cards
    margin-bottom: 68px

@media screen and ( max-width: $md )
  .expertise
    &__cards
      grid-template-columns: 1fr 1fr
    &__card:nth-child(-n + 3)
      border-bottom: none
    &__card:not(:nth-child(3n))
      border-right: none
    &__card:nth-child(-n + 4)
      border-bottom: 1px solid #ebebeb
    &__card:not(:nth-child(2n))
      border-right: 1px solid #ebebeb

.card
  padding: 40px 22px
  padding-top: 0
  &__header
    @include caption($dark-grey)
    margin-top: 115px
    margin-bottom: 25px
    letter-spacing: 0.7px
    font-size: 14px
    text-align: center
  &__descr
    +text(#333333)
    line-height: 22px
    letter-spacing: 0.7px
    text-align: center

@for $i from 1 through 6
  .card-#{$i}
    background: url('../img/expertise/expertise_#{$i}.png') center 32px no-repeat

.team
  background: url(../img/backgrounds/bg_team.jpg) center / cover no-repeat $violet
  padding-bottom: 69px
  &__header
    +header
    padding-top: 70px
    margin-bottom: 15px
    text-align: center
  &__subheader
    color: #f9f9f9
    font-family: "Playfair Display"
    font-size: 14px
    font-weight: 400
    letter-spacing: 1.05px
    margin-bottom: 18px
    text-align: center
  &__divider
    background-color: #ffffff
    opacity: 0.2
    height: 2px
    margin-bottom: 47px
    margin-left: auto
    margin-right: auto
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__item
    margin-bottom: 15px
  &__item
    margin-right: 15px
  &__person-card
    width: 220px
    margin: 0 auto
  &__descr
    +text(#f3f3f3)
    letter-spacing: 0.7px
    text-align: center
    margin-top: 70px
    margin-bottom: 25px
  &__button
    display: table
    margin: 0 auto

.person-card
  &__img
    display: block
    width: 100%
    height: 229px
  &__info
    border: 1px solid rgba(225, 225, 225, 0.5)
    border-top: none
  &__name
    +caption
    font-size: 14px
    letter-spacing: 0.7px
    text-align: center
    padding-top: 23px
    margin-bottom: 12px
  &__position
    +caption
    color: #fafafa
    font-weight: 300
    opacity: 0.7
    font-size: 13px
    text-align: center
    margin-bottom: 25px

@media screen and ( max-width: $lg )
  .team
    padding-bottom: 35px
    &__descr
      margin-top: 25px

.works
  &__header
    display: flex
    justify-content: space-between
    padding: 70px 0
  &__title
    +header($dark-grey)
  &__link
    +text(#413d4b)
    padding-right: 15px
    position: relative
    &:hover
      text-decoration: underline
    &::after
      position: absolute
      top: 1px
      right: 0
      content: ''
      background: url('../icons/right_arrow.png') center / cover no-repeat
      width: 8px
      height: 13px
  &__list
    display: flex
    flex-wrap: wrap
    list-style: none
  &__item
    flex-grow: 1
    flex-basis: 200px
  &__work
    min-height: 200px
    display: block
  &__item
    @for $i from 1 through 12
      &:nth-child(#{$i})
        a
          // temporary plug
          $random: randomGrey()
          background-color: rgb($random, $random, $random)
  &__button
    margin: 69px auto
    padding-left: 28px
    padding-right: 28px

@media screen and ( max-width: $lg )
  .works
    &__header
      padding: 40px 0
    &__link
      font-size: 16px
    &__button
      margin: 40px auto

@media screen and ( max-width: $sm )
  .works
    &__list
      display: none
    &__button
      margin: 15px auto
      margin-top: 0

.testimonials
  position: relative
  padding-top: 137px
  padding-bottom: 68px
  background: url('../img/backgrounds/bg_testimonials.jpg') center / cover no-repeat $violet
  &::before
    content: "“"
    position: absolute
    top: 69px
    left: 50%
    transform: translateX(-50%)
    color: #ffffff
    opacity: 0.9
    font-family: "Playfair Display"
    font-weight: 400
    font-size: 100px
    line-height: 65px
    @media screen and ( max-width: $sm )
      top: 30px
      font-size: 50px
      line-height: 40px

.review-slider
  position: relative
  &__inner
    max-width: 810px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
  &__descr
    margin-bottom: 52px
    opacity: 0.85
    color: #ffffff
    font-family: "Playfair Display"
    font-size: 16px
    font-weight: 400
    line-height: 26px
    letter-spacing: 0.4px
    text-align: center
  &__name
    +caption
    font-size: 14px
    margin-bottom: 13px
    letter-spacing: 0.7px
    text-align: center
  &__position
    padding-bottom: 110px
    color: #ffffff
    font-family: $roboto
    font-size: 13px
    text-align: center
  &__control
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    display: flex
    justify-content: center
    align-items: center
  &__prev, &__next
    width: 11px 
    height: 21px
    background: center / cover no-repeat
    filter: invert(75%)
    border: none
    cursor: pointer
  &__prev
    background-image: url('../icons/slider_prev.png')
  &__next
    background-image: url('../icons/slider_next.png')
  &__indicators
    display: flex
    align-items: center
    list-style: none
    margin-left: 30px
    margin-right: 30px
  &__indicator
    width: 45px
    height: 45px
    &.active
      width: 70px
      height: 70px
  &__indicator:not(:last-child)
    margin-right: 14px
  &__icon
    display: block
    background: none
    border: none
    border-radius: 50%
    width: 100%
    height: 100%

@media screen and ( max-width: $sm )
  .testimonials
    padding-top: 60px
  .review-slider
    &__descr
      font-size: 13px
      margin-bottom: 30px
    &__position
      padding-bottom: 80px
    &__indicator
      width: 30px
      height: 30px
      &.active
        width: 45px
        height: 45px
    &__indicator:not(:last-child)
      margin-right: 9px

.contact
  padding-top: 72px
  padding-bottom: 85px
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__left
    flex-grow: 1
    max-width: 460px
    margin-right: 20px
  &__header
    +header($dark-grey)
    letter-spacing: 1.1px
    margin-bottom: 35px
  &__input
    display: block
    margin-bottom: 23px
  &__button
    padding-left: 32px
    padding-right: 32px

.form-input, .form-area
  border: 1px solid rgba(0, 0, 0, .1)
  width: 100%
  padding-left: 21px
  &::placeholder
    +text($dark-grey)
    opacity: 0.5
    letter-spacing: 0.7px


.form-input
  height: 45px

.form-area
  padding-top: 21px
  height: 200px

.clients
  flex-grow: 1
  max-width: 380px
  display: grid
  grid-template-columns: 1fr 1fr
  &__item
    margin-bottom: 50px
    img
      display: block
      margin-left: auto
      margin-right: auto
      max-width: 100%

@media screen and ( max-width: $md )
  .contact
    padding: 40px
    &__left, &__right
      flex-basis: 100%
      max-width: 100%
      padding: 0 30px
    &__right
      margin-top: 30px

.footer
  background: url('../img/backgrounds/bg_footer.jpg') center / cover no-repeat $violet
  padding-top: 70px
  padding-bottom: 70px
  &__top
    display: flex
    justify-content: space-between
    padding-bottom: 71px
  &__left
    flex-basis: 285px
    margin-right: 20px
  &__center
    flex-basis: 270px
    margin-right: 20px
  &__right
    flex-basis: 291px
  &__logo
    margin-bottom: 27px
  &__descr
    +text
    line-height: 26px
    letter-spacing: 0.35px
  &__caption
    +caption
    font-size: 15px
    letter-spacing: 0.75px
    margin-bottom: 39px
  &__icon
    position: absolute
    top: 3px
    left: 0
    font-size: 19px
  &__address, &__tel-wrapper
    +text
    position: relative
    padding-left: 30px
    font-style: normal
    line-height: 26px
    letter-spacing: 0.35px
  &__tel
    +text
  &__form
    display: flex
    justify-content: space-between
    margin-bottom: 27px
  &__input
    background-color: transparent
    border: 1px solid rgba(255, 255, 255, .5)
    margin-right: 10px
    color: #ffffff
    &::placeholder
      color: #ffffff
      opacity: 0.75
  &__submit
    flex-shrink: 0
    width: 70px
    height: 45px
    border: none
    background: url('../icons/paper.png') center / 25px 25px no-repeat rgba(255, 255, 255, .5)
  &__social-links
    display: flex
    .social-link:not(:last-child)
      margin-right: 8px
  &__bottom
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__copyright
    +text


.social-link
  display: block
  width: 35px
  height: 35px
  border: 1px solid #ffffff
  border-radius: 50%
  line-height: 35px
  text-align: center

.footer-nav
  &__list
    display: flex
  &__item
    margin-right: 35px
  &__link
    +text
    letter-spacing: 0.35px
    text-transform: uppercase

@media screen and ( max-width: $lg )
  .footer
    padding-top: 40px
    padding-bottom: 40px
    &__top
      flex-wrap: wrap
      max-width: 650px
      margin-left: auto
      margin-right: auto
    &__left
      flex-basis: 100%
      margin-bottom: 20px
      margin-right: 0
    &__logo
      margin-bottom: 5px
    &__caption
      margin-bottom: 15px
      font-size: 14px
    
@media screen and ( max-width: $md )
  .footer
    &__left
      flex-basis: 200px
      flex-grow: 1
      margin-right: 25px
    &__center
      flex-basis: 180px
      flex-grow: 1
    &__right
      flex-basis: 100%
  .footer-nav
    &__item
      margin-right: 17px
  
@media screen and ( max-width: $sm )
  .footer
    &__center
      margin-bottom: 20px
    &__bottom
      justify-content: center !important
    &__copyright
      margin-top: 10px
      flex-basis: 100%
      text-align: center
      
.chat
  position: fixed
  bottom: -500px
  right: 50px
  background-color: #48474e
  border-radius: 10px 10px 0 0
  transition: bottom 0.5s
  &.active
    bottom: 0
  &__header
    +text
    margin: 20px 10px
    font-size: 16px
  &__inner
    background-color: #fff
    display: flex
    flex-direction: column
  &__messages
    height: 350px
    overflow: auto
    padding: 10px
  &__message
    +text(black)
    max-width: 60%
    background-color: #d4d4d4
    padding: 10px
    border-radius: 10px
    margin-bottom: 8px
  &__form
    bottom: 40px
    width: 100%
    display: flex
  &__input
    flex-grow: 1
    border-left: none
    border-right: none
  &__submit
    width: 40px
    height: 40px
    flex-shrink: 0
    align-self: center
    background: url('../icons/paper.png') center / 21px no-repeat #899589
    filter: invert(100%)
    border: none
    border-radius: 15%
    margin-right: 15px
    margin-left: 15px
  &__close
    position: absolute
    background: #ffffff
    width: 20px
    height: 6px
    top: 20px
    right: 20px
    cursor: pointer
  
.message-us
  position: fixed
  bottom: -50px
  right: 50px
  width: 60px
  height: 35px
  border: none
  border-radius: 10px
  background: url('../icons/chat.svg') center / 25px no-repeat #899589
  transition: bottom 0.2s
  &.active
    bottom: 20px